name: CI Spring Boot

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "25"
          cache: "maven"

      - name: Build and test with Maven
        working-directory: backend
        run: ./gradlew clean build --no-daemon

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: backend/target/*.jar
          retention-days: 3

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: backend/target/

      - name: Get current date
        run: echo "IMAGE_TAG=$(date -u +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        working-directory: backend
        run: |
          docker build -t steamcompanion:$IMAGE_TAG .
          docker tag steamcompanion:$IMAGE_TAG steamcompanion:latest
          docker tag steamcompanion:$IMAGE_TAG ${{ secrets.DOCKERHUB_USERNAME }}/steamcompanion:$IMAGE_TAG
          docker tag steamcompanion:$IMAGE_TAG ${{ secrets.DOCKERHUB_USERNAME }}/steamcompanion:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/steamcompanion:$IMAGE_TAG
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/steamcompanion:latest
